*{
    /*reseteamos los estilos*/
    margin:0
    padding:0
}

body {
    background: rgba(238, 178, 233, 0.541)
}

/*HEATHER*/
.title{
    /*border: 5px dashed rgb(64, 163, 243);*/
    font-family:sans-serif;
    text-align: center;
    font-size: medium;
    /*text-transform:uppercase; hacemos que la letra este en mayuscula*/


}
/*display: grid es una propiedad CSS que permite crear diseños de cuadrícula (grid) para organizar y posicionar elementos HTML en una página web. Con display: grid, se puede crear una cuadrícula de filas y columnas en la que se pueden ubicar los elementos de manera precisa. Esto permite un control granular sobre la posición y el tamaño de cada elemento en la página.
Para crear una cuadrícula, primero se debe establecer un contenedor que tenga display: grid. Luego, se definen las filas y las columnas de la cuadrícula utilizando las propiedades grid-template-rows y grid-template-columns. A continuación, se puede ubicar cada elemento en la cuadrícula utilizando las propiedades grid-row-start, grid-row-end, grid-column-start, grid-column-end, grid-row, y grid-column.*/
.conteiner{
    background: #fff;
    width: 100%;
    margin: 0 auto;
    display: grid;
    /* gap añade un espaciado entre todos los contenedores*/
    grid-template-columns: repeat(5,1fr); /*creo 5 columnas. repite 1 fraccion 5 veces*/

}

.conteiner>.header,
.conteiner>.content,
.conteiner>.sidebar,
.conteiner>.footer,
.conteiner>div{
    background: rgb(230, 197, 238);
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
}
.conteiner .header,
.conteiner .footer{
    grid-column: 1/6;
    background: #ec99f3;
    color: #0c0c0c;
}
.conteiner>.content{
    grid-column: span 3;
}
.content>.article{
    background: #dd91d0bb;
    padding: 50px;
    margin-top: 20px;
    color: rgb(17, 17, 17);
}
.conteiner>.sidebar{
    grid-column: span 2;
    background: #f5acf76c;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction:column;
}
.conteiner .sidebar img{
    width: 80%;
    margin-top: 30px;
    margin-left: 5px;
}
.conteiner .sidebar p{
    justify-content: center;
}
.conteiner>.post{
    background: #7de606;
    color: #fff;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5 all;
}
/*para agregar una especie de animacion, hacemos lo siguiente:*/
.conteiner>.post:hover{
    cursor: pointer;
    color: #0c0c0c;
    background: #fff;
}
/*LO HACEMOS UN POCO RESPONSIVE*/
@media screen and (max-width:768px) {
    .header{
        text-align: center;
    }
    .conteiner .content{
        grid-column: 1/-1;
    }
    .conteiner .sidebar{
        grid-column: 1/-1;
    }
    .conteiner .post{
        grid-column: 1/-1;
    }
}